<div class="container">
  <div class="row">
    <div class="col-6">
      <p></p>
      <h4>サイト概要</h4>
      <p>このサイトは爬虫類を飼っている方や爬虫類が好きな方に向けた</p>
      <p>情報共有サイトとなっております！</p>
      <p>自分の家族でもあるペットの貴重な一瞬を記録しませんか？</p>
    </div>
    <div class="col-6">
      <div class="image6"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="image7"></div>
    </div>
    <div class="col-6">
      <p></p>
      <h4>ブログと画像投稿</h4>
      <p>ペットの一瞬を切り取った画像投稿に</p>
      <p>日々のペットとの生活をブログへ</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p></p>
      <h4>相談</h4>
      <p>爬虫類を飼う上で不安なこと気になることを</p>
      <p>先輩飼い主に質問できます</p>
      <p>どんなに些細なことでも共有できます。</p>
    </div>
    <div class="col-6">
      <div class="image8"></div>
    </div>
  </div>
</div>
