<div class="container">
  <h1>ようこそ！</h1>
    <div class="row top">
    <div class="col-lg-4">
      <h1 class="welcome1"><strong>Welcome!</strong></h1>
      <h5 class="welcome">ようこそ、NaganoCakeへ！このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</h5>
    </div>

    <div class="col-lg-8">
      <!--<p><img src="/assets/cafe.jpg" alt="#" class="img"><p>-->
    <div id="container2">
      <div id="theTarget">
        <div class="image1 img-rounded"></div>
        <div class="image2 img-rounded"></div>
        <div class="image3 img-rounded"></div>
        <div class="image4 img-rounded"></div>
        <div class="image5 img-rounded"></div>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
  <div class="col-6">ブログ投稿新着5件</div>
  <div class="col-6">画像新着5件</div>
  </div>
</div>