<h1>Contacts#new</h1>
<%= form_for(@contact, url: {controller: "contacts", action: "create"}) do |f| %>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <table class='table table-hover table-inverse'>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td>お問い合わせ内容</td>
        <td><%= f.text_area :message, class: 'form-control' %></td>
      </tr>
      </table>
    <div class="actions">
      <%= f.submit "投稿", class: "btn btn-primary pull-right" %>
    </div>
  </div>
  <% end %>
</div>