<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h2>問い合わせ一覧</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>問い合わせ</th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td></td>
              <td><%= link_to contact.email,contact, class: "contact_#{contact.id}" %></td>
              <td><%= counsel.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
