<div class="container">
  <p class="text-danger"><%= flash[:notice] %></p>
  <div class="row">
    <div class="col-2 col-offset-1">
      <h3 class="col-offset-4">管理者画面</h3>
    </div>
  </div>
  <div class="row">
  	<div class="col-1">
    <div class="col-10">
      <h4>本日の問い合わせ<%= link_to @contacts.count ,admin_contacts_path(order_views: "admin/home")  %>件</h4>
      <p><%=link_to "会員一覧", admin_users_path ,class: "btn btn-outline-primary btn-block" %></p>
      <p><%=link_to "カテゴリー", admin_categories_path, class: "btn btn-outline-secondary btn-block" %></p>
    </div>
  </div>
</div>
