/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";            /*ここを追加*/
@import "summernote-bs4";
@import "summernote-custom-theme.min";

body{
 position: relative;
}

.container{
  height: 100%;
}

.navbar-left span{
  color: white;
  font-size: 30px;
  padding-top: 20px;
  font-family:'Bookman Old Style'
}

.nav a{
  color: white;
}
.dropdown-item {
    background-color: #212529;
}
.dropdown-menu{
  background-color: #212529;
}

.input-label{
  width :150px;
}

/*----- フッター下部設定 -----*/
html,body{
    height: 100%;   /* ブラウザ画面の高さ */
                    /* htmlとbody要素は内包しているコンテンツの部分までしか高さが出ない*/
}
div#container{
    position: relative;      /* フッターを位置指定するための基準設定を、まずフッターの親に書く */
    min-height: 100%;        /* 全部囲ってるdiv#containerは、”最低でも”高さ100%（＝ブラウザ画面めいっぱい） */
                             /* min-heightは最低限の高さを指定するプロパティ。コンテンツ量が増えれば、高さは伸びる */
    height: auto !important; /* IE6じゃmin-height使えないからIE6専用にこの行と次の行をこう書く */
    height: 100%
}
div#main{
    padding-bottom:100px; /* 高さ50pxのフッターだから、その分空ける */
}
div#footer{
    position: absolute;  /* フッターを絶対配置に指定する設定 */
    bottom: 0;           /* フッターを一番下に置く */
    width: 100%;
    height: 60px;        /* フッターの高さ */
    color:white;
}

.brand-name{
 font-family:cursive;
}


/* topスライド */
#container2{
  width: 100%;
  height: 360px;
  transition: 1.0s ;
}

.image1 {
background-image: url(images/image1.jpg);
}
.image2 {
background-image: url(images/image2.jpg);
}
.image3 {
background-image: url(images/image3.jpg);
}
.image4 {
background-image: url(images/image4.jpg);
}
.image5 {
background-image: url(images/image5.jpg);
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover{
 opacity:0.7;
 transition: 1.0s ;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  text-align: center;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.text-center {
  text-align: center;
}

.image6 {
background-image: url(image6.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
width: 100%;
height: 360px;
}
.image7 {
background-image: url(image7.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
width: 100%;
height: 360px;
}
.image8 {
background-image: url(image8.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
width: 100%;
height: 360px;
}